.car-detail-container {
  width: 80%;
  margin: auto;
  margin-top: 200px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.car-detail-container .car-detail-image {
  width: 100%;
  aspect-ratio: 2;
}
.car-detail-container .car-detail-left {
  width: 50%;
}
.car-detail-container .car-detail-image img {
  width: 100%;
}
.car-detail-container .car-detail-info {
  max-width: 580px;
  float: right;
}
.car-detail-container .car-detail-info h2 {
  font-size: 50px;
  font-weight: 900;
  margin: auto;
  margin-bottom: 30px;
  margin-top: -22px;
  color: var(--blue-clr);
}
.car-detail-container .car-detail-info p {
  font-size: 22px;
}
@media screen and (max-width: 1160px) {
  .car-detail-container {
    width: 95%;
  }
}
@media screen and (max-width: 950px) {
  .car-detail-container {
    width: 95%;
    flex-direction: column-reverse;
  }
  .car-detail-container .car-detail-left {
    width: 80%;
    margin: auto;
  }
  .car-detail-container .car-detail-info {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
}
