.about {
  margin-top: 100px;
  width: 100%;
}
.about-section {
  background-size: 80%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 100px 0;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: white;
  padding: 100px 30px;
}
.inner-container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}
.inner-container p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 40px;
}
.skills {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.skills span {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid var(--blue-clr);
  display: flex;
  font-size: 30px;
  color: var(--blue-clr);
  justify-content: center;
  align-items: center;
}
.about-page {
  background-image: url("../../assets/images/chuttersnap-gts_Eh4g1lk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1110px) {
  .inner-container {
    width: 80%;
    background-color: white;
    padding: 70px 30px;
  }
}
@media screen and (max-width: 600px) {
  .inner-container {
    width: 100%;
    background-color: white;
    padding: 70px 20px;
  }

}
