.header
{
    background-color: transparent;
    padding: 20px 360px 20px 360px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
.header-bg
{
    background-color: var(--black-clr);
    padding: 4px 200px;
}
header nav ul
{
    gap: 36px;
}
.link
{
    padding: 10px 10px;
    color: var(--white-clr);
    font-size: 20px;
    font-weight: var(--font-weight-700);
}
header .link.active
{
    color: var(--blue-clr);
}